* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    background: hsl(30, 38%, 92%);
    display: grid;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    line-height: 1.6;
    font-weight: 500;

}

.container {
    width: 70%;
    max-width: 650px;
    background: hsl(0, 0%, 100%);
    margin: 0 auto;
    margin-top: 1.5em;
    border-radius: 0.5em 0.5em ;
}

.product-info {
    padding-bottom: 1em;
    border-radius: 0 0 0.5em 0.5em;
    
}

.product-img {
        height: 245px;
        max-width: 100%;
        border-radius: 0.7em 0.7em 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(/images/image-product-mobile.jpg);
}

/* Typography */
.product-name,
p,
.old-price {
    font-family:'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: small;
}


.product-name {
    color: hsl(228, 12%, 48%);
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 1em 1.5em;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    margin-top: 0;
    font-weight: 700;
    line-height: 1;
    font-size: 2rem;
    margin: 0 0.7em;
    margin-bottom: 0.5em;
}

p.product-description {
    padding: 0 1.6em;
    font-size: .9em;

    font-family: 'Montserrat', sans-serif;
    
}

.new-price,
.old-price {
    border: none;
}

.price-tag {
    display: flex;
    align-items: center;
    margin: 0.6em 1em;
}

.new-price {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  font-size: 2em;
  margin: 0 .4em;

}

.old-price {
    text-decoration: line-through;
    margin-left: 1.7em;
}

.addToCart-btn {
  background: hsl(158, 36%, 37%);
  color: #fff;
  padding: .8em 1em;
  border-radius: 0.5rem;
  width: 85%;
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: 0 auto;
  border: none;
  margin-bottom: .5em;
  cursor: pointer;
}

.addToCart-btn:hover,
.addToCart-btn:focus {
    background:  hsl(212, 21%, 14%);
}

.btn-img {
    margin-right: .5em;
}

@media (min-width: 600px) {
    .container {
        height: 500px;
        display: flex;
        font-size: 1rem;  
    }
    .product-img {
       width: 100%; 
       height: inherit;
       border-radius: 0.7em 0 0 0.7em ;
       background-position: -10px 0;
       background-image: url(images/image-product-desktop.jpg);
    }

    .product-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 90%;
        padding: 0;
    }

    .price-tag {
        margin-top: 0;
        margin-bottom: 0;
    }

    .product-name {
        margin-top: 0;
        margin-bottom: 0;
    }

    p.product-description {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
    }
}